nav {
    background-color: #3366cc;
}
#search {
    color: #fff;
    border: 1px solid #fff;
}
#nav-link {
    color: #fff;
    font-size: 20px;
}
#nav-link-active {
    font-weight: 600;
    color: #fff;
    font-size: 20px;
}
#nav-link-brand {
    font-weight: 600;
    color: #fff;
    font-size: 30px;
}
#theme {
    background-color: rgb(66, 66, 94);
    color: white;
    border: none;
    height: 36px;
    width: 74px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: box_shadow 0.15s;
    margin-right: 20px;
}
#button1 {
    background-color: rgb(66, 66, 94);
    color: white;
    border: none;
    height: 36px;
    width: 125px;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
    transition: opacity 0.15;
}
#theme:hover, #button1:hover, #button2:hover {
    background-color: rgb(231, 231, 241);
    color: black;
} 
#button2 {
    margin-right: 20px;
    margin-left: 10px;
    border: none;
    height: 36px;
    width: 125px;
    border-radius: 2px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
    transition: opacity 0.15;
}
#sure {
    text-decoration: none;
    color: #fff;
}
#sure:hover {
    color: #000;
}
.next {
    background-color: #339966;
}
.sure-btn {
    background-color: #006699;
}
#sheila {
    text-decoration: none;
}
#exampleDataList, #exampleDataList2 {
    width: 30%;
}
#inside-card {
    padding: 40px;
}
#inside-title {
    text-align: center;
    font-size: 50px;
}
.card-text {
    font-size: 19px;
    text-align: center;
}
#card2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
#myChart {
    margin-top: 40px;
    margin-bottom: 40px;
}
#contributors {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
}