body {
    background-color: black;
    color: lightgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

nav {
    display: flex;
} 

.logo {
    font-size: 40px;
    color: goldenrod;
    font-weight: 600;
    margin-right: 55%;
    margin-bottom: 20px;
    margin-top: 20px;
} 

#menu {
    display: inline-flex;
    list-style: none;
    padding-top: 15px;
} 

li {
    margin-left: 50px;
    font-size: 17px;
} 

a:hover {
    color: rgb(241, 81, 241);
} 

a {
    text-decoration: none;
    color:gold;
} 

.wikidata {
    font-family:'Roboto Slab', serif;
    font-size: 40px;
} 

#theme {
    background-color: rgb(66, 66, 94);
    color: white;
    border: none;
    height: 36px;
    width: 74px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: box_shadow 0.15s;
    margin-right: 20px;
} 

#tool {
    padding-top: 8px;
} 

#theme:hover, #button1:hover, #button2:hover {
    background-color: rgb(231, 231, 241);
    color: black;
} 

#button1 {
    background-color: rgb(66, 66, 94);
    color: white;
    border: none;
    height: 36px;
    width: 125px;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    transition: opacity 0.15;
} 

#button2 {
    margin-right: 20px;
    margin-left: 10px;
    background-color: rgb(71, 22, 71);
    color: whitesmoke;
    border: none;
    height: 36px;
    width: 125px;
    border-radius: 2px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    transition: opacity 0.15;
} 

#search {
    width: 300px;
    height: 25px;
    padding-left: 10px;
} 

