body {
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

nav {
    display: flex;
}

.logo {
    font-size: 40px;
    color: goldenrod;
    font-weight: 600;
    margin-right: 55%;
    margin-bottom: 20px;
    margin-top: 20px;
} 

#menu {
    display: inline-flex;
    list-style: none;
    padding-top: 15px; 
}

li {
    margin-left: 50px;
    font-size: 17px; 
} 

a:hover {
    color: rgb(241, 81, 241);
} 

a {
    text-decoration: none;
    color: gold; 
}